[submodule "genji-python-6B-split"]
	path = extern/NovelAI/genji-python-6B-split
	url = https://huggingface.co/NovelAI/genji-python-6B-split
[submodule "transformers"]
	path = extern/finetuneanon/gpt_neo_localattention3_rp_b
	url = https://github.com/finetuneanon/transformers
	branch = gpt-neo-localattention3-rp-b
[submodule "extern/StellaAthena/transformers"]
	path = extern/StellaAthena/transformers
	url = https://github.com/StellaAthena/transformers.git
[submodule "extern/deepmind/deepmind-research"]
	path = extern/deepmind/deepmind-research
	url = https://github.com/deepmind/deepmind-research.git
